@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

.hero {
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h1 {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #ef4444;
}

.hero-text {
    font-size: 24px;
}

.hero-text span {
    color: #ef4444;
}

.hero p {
    font-size: 20px;
}

.btn {
    .btn {
        background-color: #ef4444; /* Define a cor de fundo do botão */
        padding: 16px; /* Adiciona espaço ao redor do conteúdo do botão */
        display: flex; /* Define o tipo de exibição para flex, o que permite alinhar e justificar o conteúdo facilmente */
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        width: 200px; /* Define a largura do botão */
        text-decoration: none; /* Remove qualquer decoração de texto (como sublinhado) */
        text-transform: uppercase; /* Transforma o texto em maiúsculas */
        color: white; /* Define a cor do texto */
        font-size: 16px; /* Define o tamanho do texto */
        border-radius: 8px; /* Arredonda os cantos do botão */
        margin-top: 24px; /* Adiciona espaço acima do botão */
    }
}
